/* Styles for Y4Y Nasa*/



body.nasa_page 

{
	    min-height:700px !important;
}


html

{
	background-color: #000;
	position: relative;
    min-height: 100%;

}

h1

{
	text-align: center;
	margin-top: 10%;
}

h3

{
	font-size: 1.0em;
}


/* crossfade images text*/

ul
{
    list-style-type: none;
}

ul:empty

{
	width: 0px !important;
	padding: 0px !important;
}
/* crossfade images text end*/

.container_cust

{
	min-height:100%;
   position:relative;
}

.place_cont

{
	max-width: 1100px;
	margin: 0px auto;
	max-height: 1100px;
}


.orange-bak

{
 display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:-10%;
    width: 100%;
    position: relative;
    z-index: 1;
}


.white_content

{
	width: 100%;
	min-height: 300px;
	position: relative;
	padding:6%;


}

.white_content p

{

    padding:1% 15% 1% 15%;
    font-size: 120%;
}

.orange-bak img

{
	width: 100%;
	margin-top: -10px;
	max-height:800px;
}

.orange-bak.sub_orange img

{
	height: 400px;
}

/*.teal_petal img

{
	width: inherit;
	top: 5%;
	position: absolute;
	left:30%;
	z-index: 3;
	height: 100%;
    width: auto;
}
*/


.Teal_Header

{
	width: 90%;
	height:80px;
	background-color:#00b0ad;
		border-top-right-radius:170px;
	border-bottom-left-radius:170px;
	margin-top: 10%;
}

.teal_petal

{

	width: 400px;
	background-color:#00b0ad;
	z-index: 10;
	border-top-right-radius:300px;
	border-bottom-left-radius:300px;
	width: 25%;
    height: 110.5%;
    height: 800px;
    width: 400px;
    color: #D8D6D6;
    top: 2%;
    left: 25%;
    position: absolute;
    z-index: 30;
    min-height: inherit;
    box-shadow: 30px 4px 40px  rgba(0,0,0,0.4);


}


.crossfade_nav

{
	color: #fff;
	top: 8%;
	position: absolute;
	z-index: 4;
}

/*content for teal nav styles*/

.navstylenum

{
	
width: 90px;
height: 90px;
background-color: #fff;
border: 7px solid #019491;
color:#019491;
float: left;/*would prefer to make this display:inline-block*/
border-radius:50px;
font-size: 5rem;
text-align: center;
vertical-align: middle;
/*line-height: 85px;*/   
margin-bottom: 4%;
margin-left:-90px;
z-index: 12;
position: absolute;



}

.navstylenum:hover

{
background-color:#fff600;
}


.navstylenum:hover + .navstylecont

{
	color:#fff600;
}

.navstylecont

{

    display: inline-block;
margin-left: 40px;
font-size: 3rem;
min-height: 5%;
 min-width: 200px;

}

.navstylecont:hover

{
	color:#fff600;
}


.nav_crossfade_img p

{

    padding:2%;	
	min-height: 100px;


}

.replace_back

{
	margin-top:-16% !important;
	min-width:265%;
	margin-left:-127% !important;
	max-height:100%;
}


p.black {

	background-color: #000;
	display: block;
	border:solid 1px #000;
	border: 1px #DED7CD solid;
	padding:8%;
	font-size: 125%;
	color: #DED7CD;
	overflow: scroll;

}

#moon p.black, #suits p.black, #design p.black, #explore p.black, #sports p.black, #Para_mars p.black
{
height: 200px;
}



/*crossfade styles*/

.nav_crossfade_img ul {

	padding:0px;
}

#thumbImgs {float: left;}

#imgs {float: left;}
#imgs li {position: absolute; display: none;}
#imgs li:first-child {display: block;}


.nav_crossfade_image_box

{
	width: 40%;
	height: 10.5%;
	color: #D8D6D6;
	top: 12%;
	left:45%;
	position: absolute;
	z-index: 2;
	border-radius: 5px;	
	min-height: inherit;
	max-width: 760px;
}

.adjust_orange_sub

{
	margin-top: -40%;
}

.content_orange

{
		width: 40%;
	height: 10.5%;
	
	top: 12%;
	left:30%;
	position: absolute;
	z-index: 2;
	border-radius: 5px;	
	min-height: inherit;
	color:#fff;
}


.nav_crossfade_disc

{
	float: left;
}

.nav_crossfade_img

{
	float: left;
}


/* top nav styles*/


.navbar
{
	 background-color:#000;
	 border-color: #000;

}


.navbar-default .navbar-nav>li>a

{
	color:#fff;
}




/* top animation */

 

body{
	padding:0;
	margin:0;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
	margin: 0 0 300px;
}

div.ani {


    position: relative;
    -webkit-animation-name: moveme; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: moveme;
    animation-duration: 2s;
	width:100%;
}

.earth-background{

	position:absolute;
}

img.earth-fixed{
	width:100%;
		
}

img.reader_girl{
	width:100%;
    min-width:500px;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes moveme {
    0%   {left:2%;}
    11%  {left:2%;}
    100% {left:0px;}
}

/* Standard syntax */
@keyframes moveme {
    0%   {left:2%;}
    11%  {left:2%;}
    100% {left:0px;}
}





@media only screen and (min-width : 1800px){
	.nav_crossfade_image_box
	{
		left:42.5%;
	}

	.replace_back

	{
		margin-left: -112% !important;
	}

}

@media only screen and (max-width : 1600px){
	.nav_crossfade_image_box
	{
		left:47%;
	}

	.replace_back

	{
		margin-left: -133% !important;
	}

	p.black {
		padding: 10%;
	}

}



/* Extra Large Devices, Wide Screens */
@media only screen and (max-width : 1400px) {

	.size_back

	{
min-height: 700px;

	}



.teal_petal
{
	 left: 23%;
	 height:666px;
	 border-top-right-radius: 234px;
    border-bottom-left-radius: 234px;
    width: 330px;

}

.exit{

	margin-left:121% !important;
}

.nav_crossfade_image_box


{
	left:44%;
}
	    	.navstylecont

    	{
          font-size: 24px;
          margin-left:0px;
    	}

    	.navstylenum
    	{
    		width: 72px;
    		height: 72px;
    		margin-bottom: 10px;
    		border: 6px solid #019491;
    		line-height: 60px;
    		font-size:3em;

    	}

        .crossfade_nav

        {
        	left: 15px;
        }

        .replace_back

        {
        	margin-left: -122% !important; 
        }

        p.black

    {
    	min-width: 110%;

    }
    	    p.black + img

{
	min-width: 110%;
}


}


/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	h3

	{
		margin-top: 10px;
	}


	.size_back

	{
min-height: 600px;

	}


	.teal_petal

	{
		height: 550px;
	border-top-right-radius:200px;
	border-bottom-left-radius:200px;
	width: 280px;
	}

	    	.navstylecont

    	{
          font-size: 20px;
          margin-left: 10px;
          margin-bottom: 10px;
    	}

    	.navstylenum
    	{
    		width: 64px;
    		height: 64px;
    		margin-bottom: 5px;
    		margin-left: -75px;

    		

    	}

    	.crossfade_nav

    	{
    		top:8%;

    	}

    	    p.black + img

{
	min-width: 110%;
}

.nav_crossfade_image_box

{

	left:43.5%;
	max-width: 400px;
	max-height: 400px;
}

	p.black

	{
		padding:10%;

	}


	#first p.black

	{
		min-width: 130%;
	}



}

/* Medium Devices, Desktops */


@media only screen and (max-width : 992px) {

	.orange-bak img

{
	max-height: 100px;
}

	.orange-bak {
	
	margin-top:20%;
	}


	.size_back

	{
min-height: 300px;

	}

	.mobile_top {
		margin-top:20%;

	}

	.teal_top

	{
		height:195px !important;
	}

	.place_mobile
	{
		margin-top:-234px !important;
	}

		.teal_petal

	{
	border-top-right-radius:170px;
	border-bottom-left-radius:170px;
	min-height: 400px;
	overflow: scroll;
	}

	    	.navstylecont

    	{
          font-size: 15px;
          margin-left: 0px;
          margin-bottom:5px;
    	}

    	.navstylenum
    	{
    		width: 50px;
    		height: 50px;
    		margin-top: -15px;
    		margin-left: 0px;
    		font-size: 30px;
    		line-height: 38px;
    	}

    	.crossfade_nav

    	{
    		top:6%;
    		left: 0%;

    	}

    	p.black

{
	font-size: 100% !important;
	padding:8%;
}

.orange-bak img

{
	margin-top:-238px;

}

}



/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {




	.orange-bak img

{
	max-height: 200px;
	margin-top:0px;
}

	.size_back

	{
min-height: 216px;

	}

.teal_top

{
	width: 100%;
	min-height: 120px !important;
	max-height: 150px !important;
	border-color: #00b0ad;
	overflow: scroll;
	
}

.navbar .nav.pull-right {
     float: none !important;
    margin-right: 0% !important; /*set margin this way in your custom styesheet*/
  }

.place_mobile

{
	margin-top: -170px !important;
}

	#footerlinks ul:first-of-type

	{
		margin-left:-6px !important;
	}

	

.navstylenum

{
width: 40px;
height: 40px;
background-color: #fff;
border: 4px solid #019491;
color:#019491;
float: left;/*would prefer to make this display:inline-block*/
border-radius:50px;
font-size: 1.2em;
text-align: center;
vertical-align: middle;
position: relative; /*causes spacing on right side of image in content area*/
left: 5px;
line-height: 33px;
margin-top: -6px;

    	}

    	.orange-bak

    	{
    		margin-top: 0px;
    	}

    	.logo_container

    	{
    		min-height: 100px;
    		margin-top: 80px;


}

.earth-background

{
	margin-top: -130px;
}

p.black

{
	font-size: 1em;
}


}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {


.earth-background

{
	margin-top: -40px;
}
.teal_top

{
	width: 100%;
	min-height: 80px !important;
	max-height: 130px !important;
	border-color: #00b0ad;
	margin-top: -140px;
	overflow: scroll;
	margin-top: -148px !important;
	
}

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}


/*styles for the mobile version*/

.panel-heading

{
	background-color: #00b0ad !important;
}

#accordion h4

{
	background-color: #00b0ad !important;
	font-size: 1.8em !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	color: #fff;
	border:none !important;
	border-radius:0px;
}


#accordion .panel-group,#accordion .panel

{
	margin-bottom: 0px;
}


.teal_top

{
	width: 100%;
	height: 100px;
	border-color: #00b0ad;
	padding: 4%;
	font-size: 110%;
overflow: scroll;
	
}

.teal_top p

{
	color: #fff;
}

/*
{
	border-top-right-radius:800%;
}*/

 .ui-accordion-header

 {
 	margin:0px !important;
 }

 .place_mobile

 {
 	margin-top:-100px;
 	z-index: 30;
 	position: absolute;
 }

.image_size_xs

{
	height:120px !important;
	position: relative;
	overflow: hidden;

}

.image_size_xs img

{
	width: 100% !important;
}

.ui-accordion .ui-accordion-content

{
	padding:0 !important;
}

#accordion p, #accordion ul

{
	padding:4%;
	background-color: #000;
	color: #fff;
	font-size: 1em;
	margin-bottom: 0px;

}


.ui-widget-content

{
	background-color:#000;
}



.spacing_title

{
	padding-left: 60px;

}


.spacing_title:hover 
{


	color:#fff600

}


.navstylenum:hover + .spacing_title

{
	color:#fff600
}

.mobile_top
{
		
margin-left: 30px;

}

#accordion  .panel, #accordion .panel-heading

{
	border: 0px;
}

#accordion .panel.panel-default

{
	border-top: 3px solid #1acfcc;
}



/* footer*/

footer

{
	background-color:#2a2e39;
	height: 300px;
	width:100%;
	 position: absolute;
    left: 0;
    bottom: 0;
	

}

.position_footer_content

{
margin-top: 80px;
margin-left: 22%;
}

#footer {
    background-color: #1B636F;
    padding: 2% 0;
}
.footerlogos {
	width: 100%;
}
.footerlogos img {
	max-width: 50px;
	padding: 0 1%;
}
.footerlogos li {
	list-style-type: none;
	display:inline;
}
#flcontain {
	width: 20%;
	float:left;
	display:inline;
}
#footerlinks {
	width: 80%;
	float:right;
	display:inline;
	
}
#footerlinks ul {
	min-width: 8%;
}
#footerlinks li {
    list-style-type: none;
    display: inline;
    padding: 0 13px;
    min-width: 3%;
}
#footerlinks a {
	color:#BFBFBF;
	text-decoration:none;
	font-size:1em;
	white-space: nowrap;
}
#footerlinks a:hover {
	color:#959595;

}





.portal-rt{
	float:right;
}

body.home #footer{
	position:relative;
	top:1000px;
}


.grid_45 {
  width: 35.5%;
  display: block;
  padding:0 6%;
  position:relative;
  top:100px;
  
}


#footerlinks ul:nth-of-type(3)

{
	min-width: 30%;
}

#footerlinks ul:nth-child(n+2)

{
	margin-left:-2%;
}

#footerlinks li:nth-child(n+5)

{white-space: nowrap;
}

#footerlinks ul:first-of-type

{
	margin-left: -16px;
}

/*afor the fade in  of the vdefault text*/

ul#first,.teal_top.place_mobile p {
	opacity: 0;

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

ul#first,.teal_top.place_mobile p {
   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}


/*fade out*/

/*afor the fade in  of the vdefault text*/

ul#first,.teal_top.place_mobile p {
	opacity: 0;

    -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;

}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

ul#first,.teal_top.place_mobile p {
   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards; /*when the spec is finished*/
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}




/* pulls the navbar right*/
.navbar .nav.pull-right {
     float: right;
    margin-right: 0%; /*set margin this way in your custom styesheet*/
  }

  #navbar

  {
  	font-size: 130%;
  }
